
.navbar {
    background-color: #6f7780 !important; 
}


.navbar .navbar-brand, .navbar .nav-link {
    color: #ffffff !important;
}


.navbar .nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
   background-color: #34689c;
    
}


#carouselExample {
    max-width: 900px; 
    width: 100%;
    margin: 30px auto 0 auto; 
    border-radius: 12px; 
    overflow: hidden;
    flex: 0 0 auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}


.carousel-item img {
    height: 500px; 
    object-fit: cover; 
}


.btns1 {
    flex: 1 0 auto; 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}




.ftr1 {
   background-color: #6f7780;
    text-align: center;
    padding: 15px;
    margin-top: auto; 
    width: 100%;
}

 .ftr1{
           background-color: #6f7780;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
            
        }

        .ac1{
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }

